<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30011">
    <setting label="30003" id="import_export_path" type="folder" source="auto" option="writeable"/>
    <setting label="30004" id="max_thread_count" type="slider" default="10" range="1,1,20" option="int"/>
    <setting label="30070" id="debug_log" type="bool" default="false" />
  </category>
  <category label="30080">
    <setting label="30082" id="blacklist1" type="text" default="mix maxi radio extended live"/>
    <setting label="30089" id="blacklist1_brackets" type="bool" default="false"/>
    <setting label="30085" id="blacklist1_percent" type="slider" default="75" range="0,5,100" option="percent"/>
    <setting label="30083" id="blacklist2" type="text" default="various"/>
    <setting label="30089" id="blacklist2_brackets" type="bool" default="false"/>
    <setting label="30085" id="blacklist2_percent" type="slider" default="20" range="0,5,100" option="percent"/>
    <setting label="30084" id="blacklist3" type="text" default="remix karaoke instrumental acoustic ukulele piano lyric"/>
    <setting label="30089" id="blacklist3_brackets" type="bool" default="false"/>
    <setting label="30085" id="blacklist3_percent" type="slider" default="0" range="0,5,100" option="percent"/>
  </category>
  <category label="30081">
    <setting label="30088" id="artist_favorite_addition" type="slider" default="0" range="0,5,100" option="int"/>
    <setting label="30086" id="artist_min_level" type="slider" default="70" range="0,5,100" option="percent"/>
    <setting label="30087" type="lsep"/>
    <setting label="30101" id="fuzzy_artist_level" type="slider" default="1" range="0,0.25,10" option="float"/>
    <setting label="30104" id="fuzzy_title_level"  type="slider" default="1" range="0,0.25,10" option="float"/>
    <setting label="30102" id="fuzzy_album_level"  type="slider" default="1" range="0,0.25,10" option="float"/>
    <setting label="30402" id="fuzzy_album_artist_level" type="slider" default="1" range="0,0.25,10" option="float"/>
    <setting label="30403" id="fuzzy_album_year_level"   type="slider" default="1" range="0,0.25,10" option="float"/>
  </category>
</settings>

