<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30011">
    <setting label="30004" id="debug" type="bool" default="true" />
    <setting label="30075" id="debug_server" type="text" default="localhost" visible="eq(-1,true)"/>
    <setting label="30070" id="log_details" type="select" lvalues="30071|30072|30073|30074" default="0"/>
  </category>
  <category label="30080">
    <setting label="30081" type="lsep"/>
    <setting label="30082" id="search_blacklist1" type="text" default="mix maxi radio extended live"/>
    <setting label="30085" id="search_blacklist1_percent" type="slider" default="75" range="0,5,100" option="percent"/>
    <setting label="30083" id="search_blacklist2" type="text" default="various"/>
    <setting label="30085" id="search_blacklist2_percent" type="slider" default="20" range="0,5,100" option="percent"/>
    <setting label="30084" id="search_blacklist3" type="text" default="remix karaoke instrumental acoustic ukulele piano"/>
    <setting label="30085" id="search_blacklist3_percent" type="slider" default="0" range="0,5,100" option="percent"/>
    <setting label="30086" id="search_artist_diff_level" type="slider" default="70" range="0,5,100" option="percent"/>
    <setting label="30087" type="lsep"/>
    <setting label="30101" id="fuzzy_artist_level" type="slider" default="1" range="0,0.25,10" option="float"/>
    <setting label="30104" id="fuzzy_title_level"  type="slider" default="1" range="0,0.25,10" option="float"/>
    <setting label="30102" id="fuzzy_album_level"  type="slider" default="1" range="0,0.25,10" option="float"/>
    <setting label="30119" id="fuzzy_album_artist_level" type="slider" default="1" range="0,0.25,10" option="float"/>
    <setting label="30118" id="fuzzy_album_year_level"   type="slider" default="1" range="0,0.25,10" option="float"/>
  </category>
</settings>

